{% extends 'base.html' %}

{% block title %}
關於我
{% endblock %}

{% block content %}
<div class="article">
    <div class="article-body">
        <h2>About</h2>
        <div>
            <strong>wdv4758h</strong>，常被叫作 dv (wdv4758h -&gt; wdv -&gt; dv)，
            其中一種念法就如同微積分上碰到的那樣，
            高三快結束 (2012 年) 才開始接觸比較多資訊相關的領域，
            2012 年 10 月把筆電整個換成 Linux，整個人就此跳進 Linux 的世界，至今沒有出來，
            而在此同時，也漸漸擁抱了 Open Source。
        </div>

        <br/>

        <div>
            目前還在新竹交作業大學打滾，較常接觸的是 Linux、Vim、Python，
            有時會寫寫 Django，不然就是為了應付作業而寫 C++ (好險 C++11 後有些地方變方便了一些)
        </div>

        <br/>

        <div>
            有時候會在 Conference 出沒，曾去過的有 SITCON、COSCUP、OSDC、PyCON、HITCON
        </div>

        <br/>

        <div>
            2012 年底主要的技能點都花在基本的 Unix-like 操作、知識學習，
            還有 FreeBSD 的使用。

            <br/>
            <br/>

            2013 年上半除了繼續學習 Unix-like 上的一些服務的架設外 (DNS、Proxy、PF、Mail Server (Postfix, ...)、...)，
            同時也因為課程而正在學習 C++ (C++11)。

            <br/>
            <br/>

            2013 年的暑假開始接觸 Web 相關的知識，學習 Python、Django，
            也因此喜愛上了 Python 這個語言 ~

            <br/>
            <br/>

            2013 年下半，繼續學習基本服務的架設 (NFS、NIS、ZFS、Apache)，
            也繼續擴增 Python 相關知識。

            <br/>
            <br/>

            2014 年繼續在各個地方增加認知、經驗，上半年也因緣際會進了 PyCON 場務組幫忙。

            <br/>
            <br/>

            2014 年底，微掉入 SITCON 的 Roboconf 的坑洞
        </div>

        <br/>

        <div>
            部份學習過的東西可以參考這篇
            <a href="http://wdv4758h.github.io/posts/2014/02/recall-2012-summer-2014-spring/">小回憶</a>
        </div>

    </div>
</div>
{% endblock %}
