{% extends "base.html" %}

{% block description %}Title: {{ article.title }}; Date: {{ article.date|strftime('%Y-%m-%d') }}; Author: {{ article.author }}{% endblock %}

{% block title %}{{ article.title }} — {{ SITENAME }}{% endblock %}

{% block article_head %}
<div class="article">

	<div class="text-center article-header">

		<h1 class="article-title">{{ article.title }}</h1>
		<span>
			<h4>{{ article.author }}</h4>
		</span>
        <span>publish: <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></span>

        {% if article.modified %}
            <br>
            <span>update: <time datetime="{{ article.modified }}">{{ article.locale_modified }}</time></span>
        {% endif %}

	</div>

	{% if article.category %}
	<div>
		Category:
		<span>
			<a href="{{ SITEURL }}/{{ article.category.url }}" rel="category">{{ article.category }}</a>
		</span>
	</div>
	{% endif %}

	{% if article.tags %}
	<div>
		Tags:
		{% for tag in article.tags %}
		<span>
			<a href="{{ SITEURL }}/{{ tag.url }}" rel="tag">{{ tag }}</a>
		</span>
		{% endfor %}
	</div>
	{% endif %}

</div>
{% endblock %}

{% block toc %}
    {% if article.toc %}
    <div class="well">
        <h2>Table of Content</h2>
        <div class="contents topic">
            {{ article.toc }}
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
	<div class="article-body">{{ article.content }}</div>

    {% if article.related_posts %}
        <hr>
        <h2>Related Posts</h2>
        <ul>
        {% for related_post in article.related_posts %}
            <li><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

	<hr>

	<h2>Comments</h2>
	{% include 'disqus.html' %}
</div>

{% endblock %}
