<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{{ SITENAME }}{% endblock %}</title>
	<meta name="description" content="{% block description %}Coding, scientific development, finance, data analysis, visualization, statistics, and machine learning{% endblock %}">
	<meta name="author" content="{{ AUTHOR }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
		<script src="{{ SITEURL }}/theme/html5.js"></script>
		<![endif]-->
	<link href="{{ SITEURL }}/theme/css/ipython.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/simplex/bootstrap.min.css" rel="stylesheet">
	<link href="{{ SITEURL }}/theme/css/local.css" rel="stylesheet">
	<link href="{{ SITEURL }}/theme/css/pygments.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/tipuesearch/tipuesearch.css">
	{% block head %}{% endblock %}
</head>
<body>
<div class="container">
	<div class="page-header">
		<h1>
            <a href="/">{{ SITENAME }}</a>
			<br>
            <small>Aquí hay gato encerrado. </small>
            <form id="searchform" action="/search.html" onsubmit="return (this.elements['q'].value.length > 0)">
                    <input id="searchbox" type="text" name="q" size="12" placeholder="Search">
            </form>
        </h1>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			{% block content %}{% endblock %}
		</div>
	</div> {# End row #}
	<!-- <hr> -->
</div> <!-- /container -->
<footer class="aw-footer bg-danger">
	<div class="container"> <!-- footer -->
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="row">
					<div class="col-md-3">
						<h4>Navigation</h4>
						<ul class="list-unstyled my-list-style">
							<li><a href="{{SITEURL}}">{{ SITENAME }}</a></li>
							{% for title, link in MENUITEMS %}
							<li><a href="{{ SITEURL }}/{{ link }}"><i class="fa fa-{{ title }} "></i> {{title}}</a></li>
							{% endfor %}
							{% if DISPLAY_PAGES_ON_MENU %}
							{% for page in PAGES %}
							<li><a href="{{ SITEURL }}/{{ page.url }}"><i class="fa fa-{{ page.title }} "></i> {{page.title}}</a></li>
							{% endfor %}
							{% endif %}
							<li><a href="{{ SITEURL }}/feeds/all.rss.xml"><i class="fa fa-rss "></i> rss</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<h4>Author</h4>
						<ul class="list-unstyled my-list-style">
							<li><a href="https://wdv4758h.github.com">Homepage</a></li>
							<li><a href="https://github.com/wdv4758h/">Github</a></li>
							<li><a href="https://plus.google.com/103751737509044116269/posts">Google+</a></li>
							<li><a href="https://www.facebook.com/wdv4758h">Facebook</a></li>
							<li><a href="https://www.linkedin.com/pub/chiu-hsiang-hsu/69/83/530">Linked-in</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<h4>Categories</h4>
						<ul class="list-unstyled my-list-style">
							{% for cat, art in categories %}
							<li><a href="{{SITEURL}}/category/{{cat | lower | replace(" ", "-") }}.html">{{cat}} ({{art | count}})</a></li>
							{% endfor %}
						</ul>
					</div>
					<div class="col-md-3">
						<h4>Links</h4>
						<ul class="list-unstyled my-list-style">
							<li><a href="https://www.python.org/">Python</a></li>
							<li><a href="https://www.djangoproject.com/">Django</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center center-block aw-bottom">
			<p>&copy; {{ AUTHOR }} 2014</p>
            <small>Arch Linux + Vim + reStructuredText + Pelican = Blog</small>
		</div>
	</div>
</div>
<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- search -->
<script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch_set.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch.min.js"></script>
<!------------>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
	$("div.collapseheader").click(function () {
		$header = $(this).children("span").first();
		$codearea = $(this).children(".input_area");
		$codearea.slideToggle(500, function () {
			$header.text(function () {
				return $codearea.is(":visible") ? "Collapse Code" : "Expand Code";
			});
		});
	});
});
</script>
{% include "analytics.html" %}
{% include "github.html" %}
</body>
</html>
